@using Cooking_Service.DAL;
@using Cooking_Service.Models;
@using Microsoft.AspNet.Identity;
@model Cooking_Service.Models.IndexViewModel
@{
    ViewBag.Title = "Gerir Conta";

    var ctx = new ApplicationDbContext();
    var userC = new CookingContext();
    var userA = ctx.Users.Find(User.Identity.GetUserId());

    string userName = "No user";
    User user = new User();

    if (userA != null)
    {
        userName = userA.UserName;
        user = userC.Users.Find(userA.Id);
    }
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">

<main aria-labelledby="title">
    <p></p>
    <h2 class="title">@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4 class="subtitle">Informações gerais da conta</h4>
        <br />
        <br />
        <div class="margin50">
            <div class="row">
                <div class="element">
                    <h4>UserName</h4>
                    <p class="text-info">@userName</p>
                    <hr />
                </div>
                <div class="element">
                    <h4>Email</h4>
                    <address>
                        <p class="text-info-lnk" href="mailto:@userA.Email">@userA.Email</p>
                    </address>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="element">
                    <div class="row">
                        <h4>Nome</h4>
                        <a href="#" class="lnk-n">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </div>
                    @if (user == null)
                    {
                        <p class="text-white txt-grey">Sem Nome</p>
                    }
                    else
                    {
                        <p class="text-white txt-underline">@user.Name</p>
                    }
                    <hr />
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">
                            <h4>Apelido (s)</h4>
                        </div>
                        <div class="col-md-1">
                            <a href="#" class="lnk-n">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </div>
                    </div>
                    @if (user == null)
                    {
                        <p class="text-white txt-grey">Sem Apelido</p>
                    }
                    else
                    {
                        <p class="text-white txt-underline">@user.Surname</p>
                    }
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">
                            <h6>Telefone</h6>
                        </div>
                        <div class="col-md-1">
                            <a href="#" class="lnk-n">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </div>
                    </div>
                    @if (userA.PhoneNumber == null)
                    {
                        <p class="text-white">Sem Telefone</p>
                    }
                    else
                    {
                        <p class="text-white">@userA.PhoneNumber</p>
                    }
                    <hr />
                </div>
            </div>
        </div>
        <hr /> <br />
        <h4>Alterar as configurações de conta</h4>
        <p></p>
        <hr />

        <dl class="dl-horizontal">
            <dt>Senha:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Alterar sua senha", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Criar", "SetPassword")
                }
                ]
            </dd>
            <dt>Logins externos:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            @*
                Os Números de Telefone podem ser usados como um segundo fator de verificação em um sistema de autenticação de dois fatores.

                Confira <a href="https://go.microsoft.com/fwlink/?LinkId=403804">esse artigo</a>
                    para obter detalhes sobre como configurar este aplicativo ASP.NET para oferecer suporte à autenticação de dois fatores usando SMS.

                Remova a marca de comentário do seguinte bloco depois de configurar a autenticação de dois fatores
            *@
            @*
                <dt>Número de Telefone:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remover" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@
            <dt>Autenticação de dois fatores:</dt>
            <dd>
                <p>
                    Não há provedores de autenticação de dois fatores configurados. Consulte <a href="https://go.microsoft.com/fwlink/?LinkId=403804">esse artigo</a>
                    para obter detalhes sobre como configurar este aplicativo ASP.NET para dar suporte à autenticação de dois fatores.
                </p>
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Habilitado
                            <input type="submit" value="Desabilitar" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Desabilitado
                            <input type="submit" value="Habilitar" class="btn btn-link" />
                            </text>
                        }
                    }*@
            </dd>
        </dl>
    </div>
</main>