@using Microsoft.AspNet.Identity
@using Cooking_Service.Models
@using Cooking_Service.DAL

@{
    var ctx = new ApplicationDbContext();
    var ctxC = new CookingContext();
    ApplicationUser user = ctx.Users.Find(User.Identity.GetUserId());
    User userI = ctxC.Users.Find(User.Identity.GetUserId());
}

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cooking</title>


    <link rel="stylesheet" href="~/MyCSS/main-styles.css" />
    <link rel="stylesheet" href="~/MyCSS/customCSS.css" />

    <!--
    @@ Styles.Render("~/Content/css")
    @@ Scripts.Render("~/bundles/modernizr")    
    -->

</head>
<body>
    <div class="my-navbar">
        <div class="nav-center">
            <div class="navbar-item nav-logo">
                <a href="@Url.Action("Index", "Home")">
                    <h1 class="pretty">Cooking</h1>
                </a>
                <!--img src="icons/cooking.png" alt="Cooking" class="navbar-logo"-->
            </div>
        </div>
        <div class="nav-right">
            @if (Request.IsAuthenticated)
            {
                <div class="nav-item">
                    <div class="username">
                        <a class="heyuser" for="Account" href="@Url.Action("Index", "Manage")">@user.UserName</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="@Url.Action("Index", "Manage")" id="Account" name="Account" style="transform: rotateY(90)">
                        <svg class="img profile logoff" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512">
                            <path fill="currentColor" d="m24,12c0,6.617-5.383,12-12,12-.552,0-1-.447-1-1s.448-1,1-1c5.514,0,10-4.486,10-10S17.514,2,12,2c-.552,0-1-.447-1-1s.448-1,1-1c6.617,0,12,5.383,12,12Zm-21.538,1.116c-.036-.036-.064-.078-.096-.116h13.633c.552,0,1-.447,1-1s-.448-1-1-1H2.367c.033-.04.061-.082.098-.119l5.134-5.177c.389-.392.386-1.025-.006-1.414-.392-.39-1.026-.387-1.414.006L1.047,9.47c-.675.677-1.047,1.575-1.047,2.53s.372,1.854,1.045,2.527l5.134,5.177c.195.197.453.296.71.296.254,0,.509-.097.704-.29.392-.389.395-1.022.006-1.414l-5.137-5.18Z" />
                        </svg>
                    </a>

                </div>
            }
            else
            {
                <div class="nav-item">
                    <a href="@Url.Action("Login", "Account")" title="Login">
                        <svg class="img profile" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512">
                            <path fill="currentColor" xmlns="http://www.w3.org/2000/svg" d="m24,12c0,.553-.448,1-1,1h-13.633c.032.039.06.08.096.116l5.137,5.18c.389.392.386,1.025-.006,1.414-.195.193-.45.29-.704.29-.257,0-.515-.099-.71-.296l-5.134-5.177c-.673-.674-1.045-1.572-1.045-2.527s.372-1.854,1.047-2.53l5.132-5.174c.388-.393,1.021-.396,1.414-.006.392.389.395,1.022.006,1.414l-5.134,5.177c-.037.037-.065.079-.098.119h13.633c.552,0,1,.447,1,1Zm-12,10c-5.514,0-10-4.486-10-10S6.486,2,12,2c.552,0,1-.447,1-1s-.448-1-1-1C5.383,0,0,5.383,0,12s5.383,12,12,12c.552,0,1-.447,1-1s-.448-1-1-1Z" />
                        </svg>
                    </a>
                </div>
            }
        </div>
    </div>
    <contents>
        <div class="container">
            @if (Request.IsAuthenticated)
            {
                if (userI.Type == TypeUser.Admin)
                {
                    <div class="admin">
                        <a href="@Url.Action("Index", "Admin")">
                            Admin Control Center
                        </a>
                    </div>
                    <br />
                    <hr class="div-200px" />
                    <br />
                }
            }
            @RenderBody()
            <br />
            <div class="footer-div">
                <div></div>
            </div>

            <footer style="justify-content:space-around; display:flex">
                <p>&copy; @DateTime.Now.Year - Cooking Service - ASP.NET</p>
                <a href="@Url.Action("Contact", "Home")" class="pretty">
                    Contactos
                </a>
            </footer>
        </div>
    </contents>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <!--Poopper.js-->
    @RenderSection("scripts", required: false)
</body>
</html>
