@using Cooking_Service.Models;
@using Cooking_Service.DAL;
@using Microsoft.AspNet.Identity;

@model IEnumerable<Cooking_Service.Models.Recipe>

@Html.AntiForgeryToken()

@{
    CookingContext db = new CookingContext();

    User _user = new User();
    List<Recipe> recipes = new List<Recipe>();

    ApplicationDbContext ctx = new ApplicationDbContext();
    ApplicationUser user = ctx.Users.Find(User.Identity.GetUserId());
    string userName = "No user";

    if (user != null)
    {
        userName = user.UserName;
        _user = db.Users.Find(User.Identity.GetUserId());
        if (_user != null)
        {
            recipes = db.Recipes.Where(r => r.User.GUID == _user.GUID).ToList();
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table bg-black txt-white">
        <tr class="txt-white">
            <th>@Html.DisplayNameFor(model => model.Image)         </th>
            <th>@Html.DisplayNameFor(model => model.Title)         </th>
            <th>@Html.DisplayNameFor(model => model.Description)   </th>
            <th>@Html.DisplayNameFor(model => model.Ingredients)   </th>
            <th>@Html.DisplayNameFor(model => model.IngrTypes)     </th>
            <th>@Html.DisplayNameFor(model => model.IngrAmount)    </th>
            <th>@Html.DisplayNameFor(model => model.Steps)         </th>
            <th>@Html.DisplayNameFor(model => model.Time)          </th>
            <th>@Html.DisplayNameFor(model => model.Portions)      </th>
            <th>@Html.DisplayNameFor(model => model.Type)          </th>
            <th>@Html.DisplayNameFor(model => model.isFavorite)    </th>
            <th></th>
        </tr>
    
    @foreach (var item in recipes) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Image)       </td>
            <td>@Html.DisplayFor(modelItem => item.Title)       </td>
            <td>@Html.DisplayFor(modelItem => item.Description) </td>
            <td>@Html.DisplayFor(modelItem => item.Ingredients) </td>
            <td>@Html.DisplayFor(modelItem => item.IngrTypes)   </td>
            <td>@Html.DisplayFor(modelItem => item.IngrAmount)  </td>
            <td>@Html.DisplayFor(modelItem => item.Steps)       </td>
            <td>@Html.DisplayFor(modelItem => item.Time)        </td>
            <td>@Html.DisplayFor(modelItem => item.Portions)    </td>
            <td>@Html.DisplayFor(modelItem => item.Type)        </td>
            <td>@Html.DisplayFor(modelItem => item.isFavorite)  </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GUID }) |
                @Html.ActionLink("Details", "Details", new { id=item.GUID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.GUID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
