@model Cooking_Service.Models.RegisterViewModel
@{
    ViewBag.Title = "Registar";
}

<main aria-labelledby="title" class="form">
    <p></p>
    <h2 id="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 id="subtitle">Criar uma nova conta</h4>
        <hr />
        <br />
        <div class="input-group">
            <div>
                @Html.LabelFor(m => m.Name, new { @class = "input-label" })
            </div>
            <div>
                @Html.TextBoxFor(m => m.Name, new { @class = "input-field" })
            </div>
        </div>
        <p></p>
        <div class="input-group">
            <div>
                @Html.LabelFor(m => m.Surname, new { @class = "input-label" })
            </div>
            <div>
                @Html.TextBoxFor(m => m.Surname, new { @class = "input-field" })
            </div>
        </div>
        <br />
        <br />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="input-group">
            <div>
                @Html.LabelFor(m => m.Email, new { @class = "input-label" })
            </div>
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "input-field" })
            </div>
        </div>
        <p></p>
        <div class="input-group">
            <div>
                @Html.LabelFor(m => m.UserName, new { @class = "input-label"})
            </div>
            <div>
                @Html.TextBoxFor(m => m.UserName, new { @class = "input-field" })
            </div>
        </div>
        <br />
        <div class="input-group">
            <div>
                @Html.LabelFor(m => m.Password, new { @class = "input-label" })
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "input-field" })
            </div>
        </div>
        <p></p>
        <div class="input-group">
            <div>
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "input-label" })
            </div>
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-field" })
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="offset-md-2 col-md-1">
                <input type="submit" value="Registar" class="btn btn-outline-light" />
            </div>
            <br />
            <div class="niceLink small">
                <a>Já tem uma conta?</a>
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
